POSTGRES_USERNAME= YOUR_VALUE_HERE
  POSTGRES_PASSWORD= YOUR_VALUE_HERE
  POSTGRES_DB= YOUR_VALUE_HERE
  PORT= ##make sure to let it blank
  DB_PORT=YOUR_VALUE_HERE
  POSTGRES_HOST= YOUR_VALUE_HERE
  dialect= "postgres"
  AWS_REGION= "us-east-1"
  AWS_PROFILE=""
  AWS_BUCKET=""
  AWS_ACCESS_KEY_ID=YOUR_VALUE_HERE
  AWS_SECRET_ACCESS_KEY=YOUR_VALUE_HERE
  URL="http://localhost:3000"
  JWT_SECRET= YOUR_VALUE_HERE